@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 17, 21;
  --background-end-rgb: 15, 17, 21;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'Inter', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .glass {
    @apply bg-white/5 backdrop-blur-lg border border-white/10;
  }
  .hero-bg {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
}

/* Quick Theme Hack for Dark-First Codebase */
html.light {
  filter: invert(1) hue-rotate(180deg);
  background-color: #0f1115; /* Will be inverted to light gray */
}

/* Revert media elements back to normal */
html.light img,
html.light video,
html.light iframe {
  filter: invert(1) hue-rotate(180deg);
}
